.filter__header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 30px;

  .filter__title {
    padding-right: 15px;
  }

  .select__field {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 15px;

    .select__label {
      color: var(--grey-light);
      font-size: 12px;
      margin-right: 15px;
      margin-bottom: 0;
    }

    .select {
      width: 300px;
    }
  }
}

.filter__field {

}
